*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
div{
    text-align: center;
}
.header{
	display:flex;
	justify-content: space-between;
	align-items: baseline;
}
#titolo{
	font-size: 40px;
}

#menu{
    text-align: center;
    margin-left: 10px;
    margin-right: 80%;
    height: 160px;
    background-color: cornflowerblue;
}